:root {
  --white: #FFFFFF;
  --platinum: #E5E5E5;
  --orange-web: #FCA311;
  --oxford-blue: #14213D;
}

body {
  background-color: var(--oxford-blue);
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--platinum);
}

.Header-Container{
  margin-bottom: 1rem;
}

.Card-Container {
  justify-content: center;
  flex-direction: column;
}


